* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e6e6e6;
    font-size: 20px;
}

body {
    background-color: #04041f;
}

button {
    background-color: #4d4d4d;
    transition: 0.25s;
    border: none;
    text-align: center;
    padding: 10px 20px;
}

button:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: #808080;
}

button:disabled {
    background: #504949;
    color: #999999;
    transition: 0s;
    cursor: default;
}

.dinamicoMain {
    position: absolute;
    transform: translateX(-50%);
    margin-top: 20px;
    left: 50%;
    width: 75%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.dinamicoMain > div {
    position: relative;

    background-color: #0b2d1f;
    padding: 30px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    place-items: center;
}

@media screen and (max-width: 900px) {
    .dinamicoMain {
    transform: translateX(-50%) translateY(calc(-25%/2)) scale(75%);
    }
}

@media screen and (max-width: 700px) {
    .dinamicoMain {
    transform: translateX(-50%) translateY(calc(-35%/2)) scale(65%);
    }
}

@media screen and (max-width: 600px) {
    .dinamicoMain {
    transform: translateX(-50%) translateY(calc(-45%/2)) scale(55%);
    }
}

@media screen and (max-width: 500px) {
    .dinamicoMain {
    transform: translateX(-50%) translateY(calc(-55%/2)) scale(45%);
    }
}

@media screen and (max-width: 400px) {
    .dinamicoMain {
    transform: translateX(-50%) translateY(calc(-65%/2)) scale(35%);
    }
}

.dinamicoMain > div > textarea {
    height: 30px;
    width: 250px;
    resize: none;
    border: none;
    overflow-y: hidden;
    background-color: #4d4d4d;
}

.dinamicoMain > div > textarea:focus {
    outline: none;
    transform: scale(150%);
}

.centerText {
    grid-column: 2;
    grid-row: 2/4;
}

#menuOptions {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 11;
    width: 125px;
    height: 70px;
    background-color: #0959aa;
    transition: 0s;
}

#menuBox {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #0959aa;
    height: 350px;
    width: 125px;
    z-index: 10;
    transition: 0.15s;
}

.menuBoxes, #menuBoxButton301 {
    width: 125px;
    height: 70px;
}

.menuBoxButtons {
    position: absolute;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.menuBoxes > button:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: #dedede00;
}

#menuBoxButton202, #menuBoxButton102 {
    right: 0;
}

#menuBoxLabel201 {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#menuBoxImg101 {
    position: absolute;
    left: 50%;
    top: 105px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 40px;
}

#transparentBackground {
    position: absolute;
    background-color: rgba(79, 79, 79, 0.5);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
}

#section_select_label {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

#section_select_ing {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translateX(-50%);
}

#section_select_esp {
    position: absolute;
    right: 40%;
    top: 50%;
    transform: translateX(50%);
}

#resultadosTextarea {
    position: absolute;
    left: 50%;
    top: 42.5%;
    transform: translate(-50%, -50%);
    background-color: #4d4d4d;
    height: 80% !important;
    width: 50%;
    resize: none;
    border: none;
    text-align: center;
}

#show_results_close {
    position: absolute;
    right: 40%;
    bottom: 2.5%;
    transform: translate(50%, -50%);
}

#show_results_copy {
    position: absolute;
    left: 40%;
    bottom: 2.5%;
    transform: translate(-50%, -50%);
}